In [1]:
import os, sys
import numpy as np
import pandas as pd
from utils import cal_entropy, cal_condiEntropy, cal_inforGain, cal_inforGainRatio

In [2]:
df_li = pd.read_csv('./example_data_lihang.csv', sep='\t')
df_li

    年龄 有工作 有房 信贷情况 类别
0   青年   否  否   一般  否
1   青年   否  否    好  否
2   青年   是  否    好  是
3   青年   是  是   一般  是
4   青年   否  否   一般  否
5   中年   否  否   一般  否
6   中年   否  否    好  否
7   中年   是  是    好  是
8   中年   否  是  非常好  是
9   中年   否  是  非常好  是
10  老年   否  是  非常好  是
11  老年   否  是    好  是
12  老年   是  否    好  是
13  老年   是  否  非常好  是
14  老年   否  否   一般  否

In [3]:
df_lu = pd.read_csv('example_data_luwei.csv', sep='\t')
df_lu

   humility   outlook  temp  windy play
0      high     sunny   hot  False   no
1      high     sunny   hot   True   no
2      high  overcast   hot  False  yes
3      high     rainy  mild  False  yes
4    normal     rainy  cool  False  yes
5    normal     rainy  cool   True   no
6    normal  overcast  cool   True  yes
7      high     sunny  mild  False   no
8    normal     sunny  cool  False  yes
9    normal     rainy  mild  False  yes
10   normal     sunny  mild   True  yes
11     high  overcast  mild   True  yes
12   normal  overcast   hot  False  yes
13     high     rainy  mild   True   no

## 计算经验熵$H(D)$
即计算随机变量‘类别’的信息熵

In [4]:
print(cal_entropy(data=df_lu['play']))

0.9402859586706311

计算一下各特征的信息熵

In [5]:
for col in df_lu.columns[:-1]:
    print(f"{col}: {cal_entropy(data=df_lu[col]):.3f}")

humility: 1.000
outlook: 1.577
temp: 1.557
windy: 0.985

## 计算各特征对‘类别’的information gain

In [11]:
for col in df_lu.columns[:-1]:
    print(f"{col}: {cal_inforGain(data=df_lu, A=col, D='play'):.3f}")

humility: 0.152
outlook: 0.247
temp: 0.029
windy: 0.048

## 计算各特征对‘类别’的information gain ratio

In [11]:
for col in df.columns[:-1]:
    print(f"{col}: {cal_inforGainRatio(data=df, A=col, D='类别'):.3f}")

年龄: 0.052
有工作: 0.352
有房: 0.433
信贷情况: 0.232